<form name="loginForm" class="login">
    <md-content class="md-no-momentum" layout-padding>
        <div class="btn-container">
            <a>У меня еще нет аккаунта</a>
        </div>
        <md-input-container class="md-icon-float md-block">
            <!-- Use floating label instead of placeholder -->
            <label>Эл.почта</label>
            <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
            <input ng-model="user.mail" type="text">
        </md-input-container>

        <md-input-container class="md-icon-float md-block">
            <!-- Use floating label instead of placeholder -->
            <label>Пароль</label>
            <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
            <input ng-model="user.password" type="password">
        </md-input-container>
        <div class="btn-container">
            <md-button class="md-raised md-primary">
                Войти
            </md-button>
        </div>

    </md-content>
</form>