.homepage {
  .title {
    font-size: 1.5em;
    text-align: center;
    margin: 15px;
  }
  .temp, .wind {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    background: #fefefe;
  }
}