.item {
  width: 100%;
}
.item-first{
  background-image: url("../img/bg_homepage_1.png");
}

.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
  color: white; }
md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar){
  background-color: transparent;
  a{
    margin: 0 10px;
  }
}

